.M_P_Header{
    background-color:#0188DF;
    width: 100%;
    height: 96px;
    display: flex;
}
.M_P_Header .M_P_Left{
 height: 100%;
 width: 50%;
 display: flex;
 align-items: center;
}
.M_P_Header .M_P_Left img{
    width: 15%;
    margin-left: 17%;
}
.M_P_Header .M_P_Right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.M_P_Header .M_P_Right img{
    margin-right: 19%;
    width: 6%;
}